body {
    margin: 0;
    padding: 0;
}
// .wrapper {
//     margin: 0 150px;
// }

.container {
    // background-color: aqua;
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: 900;
}
